{% extends 'MentorshipMasterBundle::base.html.twig' %}
{% block body %}
  <section>
    <h2>Voila!</h2>
    <p>Все правильно сделал [x]</p>
    <p><a href="{{ path('homepage') }}">&lt; Вернуться на главную</a></p>
  </section>
{% endblock %}