{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    {% stylesheets output="/assets/style.css" filter="sass" filter="?uglifycss" filter="cssrewrite"
        "@MentorshipMasterBundle/Resources/sass/style.sass"
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output="/assets/app.js" filter="coffee" filter="?uglifyjs2"
        "@MentorshipMasterBundle/Resources/coffeescript/app.coffee"
    %}
        <script type="application/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block header_title %}
    Etki: mentoring
{% endblock %}
{% block footer %}
    <div class="footer-container text-center text-muted">
        <p>
            Создано с использованием
            <a href="http://symfony.com/">Symfony</a>,
            <a href="http://jquery.com/">jQuery</a>,
            <a href="http://getbootstrap.com/">Bootstrap</a>,
            <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>,
            <a href="http://glyphicons.com/">Glyphicons</a>
            и других клевых штук, на которые не хватает места.
        </p>
        <p>
          <a href="https://github.com/etki/mentorship.etki.name">Исходный код</a> // <a href="http://etki.name">etki.name</a> // 2015
        </p>
    </div>
{% endblock %}